<!-- <p>login works!</p> -->

<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 ">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-title" style="font-family: Verdana, sans-serif;">
                        <h2 class="mx-3 mt-2">login</h2>
                        <div class="mx-3 mt-3" *ngIf="invalidLogin" style="color:red;">{{errorMessage}}</div>
                    </div>
                    <div class="card-body">

                        <div class="mb-3 row">
                            <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEmail" name="email"
                                    [(ngModel)]="email">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword" name="password"
                                    [(ngModel)]="pass">
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputUsername" name="username"
                                    [(ngModel)]="username">
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="submit" (click)="handleLoginBackend()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>